DOCKER_PROJECT_NAME=
APACHE_PORT=
PHPMYADMIN_PORT=
FRONT_PROD_PORT=

MARIADB_ROOT_PASSWORD=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=

TRUSTED_PROXIES=
APP_SECRET=

VITE_API_URL=

DATABASE_URL=

MAILER_DSN=
MAILER_SENDER=
MAILER_FROM_DISPLAY_NAME=

DOCUMENT_DIRECTORY=

JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
JWT_PASSPHRASE=
CORS_ALLOW_ORIGIN=

FRONTEND_URL=